<div class="container">
  <img src="../../../assets/goBack.png" style="width:37px;height:37px;margin-top:1rem" routerLink="/" alt="back">

  <div class="container" id="boutMeContainer">
    <div class="row">
      <div class="col-sm12 pl-4 pr-4 pt-4 pb-4">

          <p class="list"> This site is based on Angular 9 <img src="../../../assets/angular.png" alt="angular" id="angularLaid">supported by Bootstrap and Angular Material </p>



        <p class="list">Videos and Images are physically stored in Firebase Storage  <img src="../../../assets/2.png" alt="firebase" id="fireLaid">having a reference to their
          ids and locations in MongDb <img src="../../../assets/7.png" alt="firebase" id="angularLaid">
        </p>

        <p class="list">Spring Boot also is the framework managing the connections with Mongo, and its different repositories
          allow the different interactions, and modifications this site commits.
        </p>

        <p class="list">For administrator matters  a process of Json Web Token authentication in Spring
          Boot  was also included in
          order to profire to the site manager the faculties of modify it
        </p>

      </div>
    </div>


  </div>

</div>
