<div class="container">
  <img src="../../../assets/goBack.png" style="width:37px;height:37px;margin-top:1rem" routerLink="/" alt="back">

  <div class="container" id="boutMeContainer">
    <div class="row">
      <div class="col-sm12 pl-4 pr-4 pt-4 pb-4">
        <p> I am a Full Stack Java and Javascript Web Developer. I was working as
          a fully certified accountant before making a career change and moving to Europe.
          I have been working freelance on several projects
          focused on using the latest technologies. I am looking for a full time
          position as a full stack or backend Web Developer within a fast-paced
          organisation that values teamwork. I am passionate about
          programming using best practices and Agile methodologies to improve
          my skills. </p>



        <p>Aside from coding I do have other passions like my family, they are my
          sacred priority, and I like to
          spend high quality time with them.
          And as caribbean, it goes without saying that fishing, swimming and all
          other activities related to the ocean really
          entice me too.
        </p>

        <p>Also I love practicing sports,like football, volleyball,
          baseball, chess, and Super Mario.
        </p>

        <p>Any place or environment I'm part of or I intend to be part of,
          must accomplish a very important principle for me:
          A very solid fellowship, inclusion for all, solidarity, because those
          are very important ingredients for the success of any business.
        </p>

        <p>By the way I am eligible to work across the EU and UK.</p>
      </div>
    </div>


  </div>

</div>
