<div class="container">
  <img src="../../../assets/goBack.png" style="width:37px;height:37px;margin-top:1rem" routerLink="/" alt="back">

  <img src="../../../assets/error.gif" alt="error" style="position:absolute;width:180px;height:180px; margin-right:10%">
  <div class="container" id="boutMeContainer">
    <div class="row">
      <div class="col-sm12 pl-4 pr-4 pt-4 pb-4">


        <p>
          Firebase has strict policies about the daily quota that projects either
          on test or not subscribed to their billing options could consume per day.


        </p>

        <p>

          This project store videos and images under this modality of free tier , thus sometimes
          the daily consume could be exceeded, not being possible to show any media or images on 24 hours.


        </p>

        <p>
          YOU COULD TRY TOMORROW !!!!!

        </p>
        <div class="d-flex flex-row flex-wrap align-items-center justify-content-start">

          <p>Meanwhile send me a <a routerLink="/contact-form" style="cursor:pointer">message</a>, or contact me through : </p>

          <p style="font-size:12px;font-style: oblique;font-weight: bold;margin-top:3px">
            https://www.linkedin.com/in/enrique-fermin-gordon-felixcubacoder/ </p>

        </div>

        <p>THANK YOU!!!</p>

      </div>
    </div>


  </div>

</div>
