<!-- <div class="container" > -->

<div class="row parallaxing img1 ">

  <div class="d-flex justify-content-center col-sm-4 md-6 lg-4 xs-12 mt d-flex ">

    <h2 id="headText">
      <p>
        I'm a passionate full stack developer.
      </p>

      <p class="d-flex justify-content-center">That's Cool!!</p>
    </h2>


    <button mat-raised-button color="primary" type="button" id="hireMe" (click)="goToContact()">
      Get me on your team
    </button>
  </div>

  <div class="col-sm-4 md-6 lg-4 xs-12 " id="columSliders">
    <div>
      <h5 id="text1"> STRIVE. </h5>
    </div>
    <div>
      <h5 id="text2"> Making the best of the bad situations. </h5>
    </div>
    <div>
      <h5 id="text3"> PERSEVERANCE. </h5>
    </div>
    <div>
      <h5 id="text4"> Vuejs,Angular,SpringBoot,and lot of other good stuff!!!! </h5>
    </div>
    <div>
      <h5 id="text5"> Thats what technically defines me. </h5>
    </div>

    <button mat-raised-button color="primary" style="position:fixed;z-index:99" type="button" (click)="goToPdf()">
      Check my CV
    </button>

    <div class="emoji">
      <img src="../../assets/1.png" style="width:27px;height:27px" alt="1">
    </div>
    <div class="emoji">
      <img src="../../assets/2.png" style="width:27px;height:27px" alt="2">
    </div>
    <div class="emoji">
      <img src="../../assets/3.png" style="width:27px;height:27px" alt="3">
    </div>
    <div class="emoji">
      <img src="../../assets/4.png" style="width:27px;height:27px" alt="4">
    </div>
    <div class="emoji">
      <img src="../../assets/5.png" style="width:27px;height:27px" alt="5">
    </div>
    <div class="emoji">
      <img src="../../assets/6.png" style="width:27px;height:27px" alt="6">
    </div>
    <div class="emoji">
      <img src="../../assets/7.png" style="width:27px;height:27px" alt="7">
    </div>
    <div class="emoji">
      <img src="../../assets/8.png" style="width:27px;height:27px" alt="8">
    </div>
    <div class="emoji">
      <img src="../../assets/9.png" style="width:27px;height:27px" alt="9">
    </div>
    <div class="emoji">
      <img src="../../assets/9.png" style="width:27px;height:27px" alt="9">
    </div>
    <div class="emoji">
      <img src="../../assets/10.png" style="width:27px;height:27px" alt="10">
    </div>
    <div class="emoji">
      <img src="../../assets/11.png" style="width:27px;height:27px" alt="11">
    </div>
    <div class="emoji">
      <img src="../../assets/12.png" style="width:27px;height:27px" alt="12">
    </div>
    <div class="emoji">
      <img src="../../assets/13.png" style="width:27px;height:27px" alt="13">
    </div>
    <div class="emoji">
      <img src="../../assets/14.png" style="width:27px;height:27px" alt="14">
    </div>

  </div>

</div>


<div class="row parallaxing img3" id="cards">
  
  <div class="col-sm-4 md-4 lg-4 xs-4 xl-4 mb-4 mt-4" id="cardGiro">

    <div class="wrapper">

      <div class="card">
        <div class="front">
          <h4 id="cardsheader">Framework</h4>


          <div>

            <ul id="listCard1">
              <li> <strong>Is my favourite !!</strong> </li>
              <li> <strong>Quite easy to implement</strong> </li>
              <li><strong>Adjustable and easy maintenance</strong> </li>
              <li><strong>Is the new kid on the block!!</strong> </li>
            </ul>

          </div>


        </div>
        <div class="right">
          <h4 id="cardsheader">Skills</h4>
          <ul id="listCard">
            <li><strong>Vuex</strong> </li>
            <li><strong>API's consumption</strong></li>
            <li><strong>Vuetify</strong></li>
            <li><strong>Vue Material</strong></li>
            <li><strong>Integration to Java 8(Spring-Boot)</strong></li>
            <li><strong>Integration to Firebase,Mongo,H2-Database,mySQL</strong></li>
          </ul>
          <button mat-raised-button color="primary" type="button" id="buttonCardFlipper" (click)="goToProjects()">
            Projects </button>

        </div>
      </div>
      <div class="img-wrapper">
        <img id="floatingImg" src='../../assets/vuejs.png' alt='vue'>
      </div>
    </div>

  </div>

  <div class="col-sm-4 md-4 lg-4 xs-4 xl-4 mb-4 mt-4 " >

    <div class="wrapper">

      <div class="card">
        <div class="front">

          <h4 id="cardsheader">Framework</h4>

          <div>

            <ul id="listCard1">
              <li> <strong>Trustworthy</strong> </li>
              <li><strong>I use it on projects with more complex design due to its superior perfomance </strong> </li>
              <li><strong>Simply amazing </strong> </li>
            </ul>

          </div>

        </div>

        <div class="right">
          <h4 id="cardsheader">Skills</h4>
          <ul id="listCard">
            <li><strong>Services</strong> </li>
            <li><strong>Reactive Forms </strong></li>
            <li><strong>Integration to Java 8(Spring-Boot)</strong></li>
            <li><strong>Integration to Firebase,Mongo,and mySQL</strong></li>
            <li><strong>Learning every day more about it!!</strong></li>
          </ul>
          <button mat-raised-button color="primary" type="button" id="buttonCardFlipper" (click)="goToProjects()">
            Projects </button>

        </div>

      </div>

      <div class="img-wrapper">
        <img id="floatingImg" src='../../assets/angular.png' alt='ang'>
      </div>
    </div>

  </div>

  <div class="col-sm-4 md-4 lg-4 xs-4 xl-4 mb-4 mt-4">
    <div class="wrapper">

      <div class="card">
        <div class="front">
          <h4 id="cardsheader">Framework</h4>

          <div>

            <ul id="listCard1">
              <li> <strong>Fast in development process</strong> </li>

              <li><strong>Back end development has a before and after with Spring-Boot,
                 and I'm really lucky to being
                  enjoying this "after"</strong> </li>
            </ul>

          </div>

        </div>

        <div class="right">
          <h4 id="cardsheader">Skills</h4>
          <ul id="listCard">
            <li><strong>Java8</strong> </li>
            <li><strong>JPA, and Hibernate</strong></li>
            <li><strong>Maven,Graddle </strong></li>
            <li><strong>Eclipse,IntelliJ</strong></li>
            <li><strong>Debug</strong></li>
            <li><strong>Spring Security</strong></li>
            <li><strong>Still having fun a lot with it!!!</strong></li>
          </ul>
          <button mat-raised-button color="primary" type="button" id="buttonCardFlipper" (click)="goToProjects()">
            Projects </button>

        </div>
      </div>
      <div class="img-wrapper">
        <img id="floatingImg" src='../../assets/spring.png' alt='spring'>
      </div>
    </div>


  </div>
</div>

<div class="row parallaxing img2">

  <div class="col-sm-12 ">
    <!-- <h2>CUBAN CODER </h2> -->
    <!-- <h4 id="letters"> -->
    <div class=" container ">
      <h4 id="cubanCoderDeed" style="margin-left:5%">
        "...it isn't about diplomas, or backgrounds sometimes fakely enhancing
        your real capacities
        about what you really
        could do,
        but about the eagerness of always challenging yourself and encouraging those in your environment to always
        be better...that's where those looking for new talents should look !!!!..."
      </h4>

      <!-- <h4 id="cubanCoderDeed" style="position:relative;margin-left:40%">
        cuban coder
      </h4> -->
    </div>
  </div>

</div>

<div class="row parallaxing img4">


  <div class="container d-flex flex-row justify-content-center">
    <div class=" d-flex justify-content-center col-sm-12 ">
      <div class=" d-flex justify-content-center  ">
        <ul  style="list-style-type: none;">
          <strong>
            <h4 class=" d-flex justify-content-center " id="footerLink">Site Links</h4>
          </strong>
          <li>
            <h6 id="footer" class=" d-flex justify-content-center "><a routerLinkActive  (click)='goToContact()'>Contact Me</a> </h6>
          </li>
          <li>
            <h6 id="footer" class=" d-flex justify-content-center "><a routerLinkActive  (click)="goToMe()">About Me</a></h6>
          </li>
          <li>
            <h6 id="footer" class=" d-flex justify-content-center "><a routerLinkActive  (click)="goToSite()">This Site</a></h6>
          </li>

          <li>
            <img id="logoBase" src="../../assets/logo1.png" alt="cubanCoder">
          </li>

        </ul>
      </div>


    </div>
  </div>


</div>
<img src="../assets/goTop.png" *ngIf="isShow" id="buttonToTop" (click)="gotoTop()">


<!-- </div> -->
